body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
#player2-container .mejs__time-buffering, #player2-container .mejs__time-current, #player2-container .mejs__time-handle,
#player2-container .mejs__time-loaded, #player2-container .mejs__time-hovered, #player2-container .mejs__time-marker, #player2-container .mejs__time-total {
  height: 2px;
  color:white;
}

#player2-container .mejs__time-total {
  margin-top: 9px;
}
#player2-container .mejs__time-handle {
  left: -5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #ffffff;
  top: -5px;
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 2;
  border: none;
  
}
#player2-container .mejs__time-handle-content {
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
}
li: hover + span{
  display: block;
}
.comment {
  margin: 20px 0px 20px 0px;
  outline-color: #C0C0C0;
  outline-style: solid;
  outline-width: 0.5px;
}
.button {
  position:relative;
  background-color: #4CAF50; /* Green */
  border-radius: 5px;
  color: white;
  padding: 12px 36px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
.fa{
  height: 30px;
  width: 30px;
}
.polls{
  border-color: #C0C0C0;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
}