{% extends "podcast/base_resume.html" %}
{% load static %}
{% block content %}
{% block css %}
	{{block.super}}
	<link rel="stylesheet" type = "text/css" href = "{% static 'podcast/style.css' %}">
{% endblock %}
	<div class = "resume">
		<div class = "resume_left">
			<div class = "resume_profile">
				<img src ="../../media/profile_pics/hanlin.jpeg" alt = "profile pic" width = "400" height = "800" >
			</div>
			<div class = "resume_content">
				<div class = "resume_item resume_info">
					<div class= "title">
						<p class = "bold"> hanlin miao </p>
						<p class = "regular"> Computer Engineering </p>
						<p class = "regular"> Quantitative Finance </p>
					</div>
						<ul>
							<li>
								<div class ="icon"><i class="fa fa-map-signs" aria-hidden="true"></i></div>
								<div class = "data">
									216 New York Ave, Jersey City, NJ<br/> USA
								</div>
							</li>
							<li>
								<div class ="icon"> <i class="fa fa-mobile fa-2x" aria-hidden="true"></i></div>
								<div class = "data">
									+718 913 8546
								</div>
							</li>
							<li>
								<div class ="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
								<div class = "data">
									hmiao2@stevens.edu
								</div>
							</li>
							<li>
								<div class ="icon"><i class="fa fa-github" aria-hidden="true"></i></div>
								<div class = "data">
									https://github.com/HanlinMiao
								</div>
							</li>
						</ul>
				</div>
				<div class = "resume_item resume_skills">
					<div class= "title">
						<p class = "bold"> skill's </p>
					</div>
					<ul>
						<li>
							<div class = "skill_name">HTML</div>
							<div class = "skill_progress">
								<span style="width: 75%;"></span>
							</div>
							<div class = "skill_per">75%</div>
						</li>
						<li>
							<div class = "skill_name">Python</div>
							<div class = "skill_progress">
								<span style="width: 70%;"></span>
							</div>
							<div class = "skill_per">70%</div>
						</li>
						<li>
							<div class = "skill_name">C++</div>
							<div class = "skill_progress">
								<span style="width: 80%;"></span>
							</div>
							<div class = "skill_per">80%</div>
						</li>
						<li>
							<div class = "skill_name">CSS</div>
							<div class = "skill_progress">
								<span style="width: 65%;"></span>
							</div>
							<div class = "skill_per">65%</div>
						</li>
						<li>
							<div class = "skill_name">
								Django
							</div>
							<div class = "skill_progress">
								<span style="width: 75%;"></span>
							</div>
							<div class = "skill_per">75%</div>
						</li>
					</ul>
				</div>
				<div class = "resume_item resume_social">
					<div class= "title">
						<p class = "bold"> Social </p>
					</div>
					<ul>
						<li>
							<div class="icon">
								<i class="fa fa-facebook-official" aria-hidden="true"></i>
							</div>
							<div class = "data">
								<p class = "semi_bold">
									Facebook
								</p>
								<a href = "https://www.facebook.com/hanlin.miao.5"><p>hanlinmiao@Facebook</p></a>
							</div>
						</li>
						<li>
							<div class="icon">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</div>
							<div class = "data">
								<p class = "semi_bold">
									Twitter
								</p>
								<p>hanlinmiao@Twitter</p>
							</div>
						</li>
						<li>
							<div class="icon">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</div>
							<div class = "data">
								<p class = "semi_bold">
									Instagram
								</p>
								<a href = "https://www.instagram.com/hanlin_meow/"><p>@hanlin_meow</p></a>
							</div>
						</li>
						<li>
							<div class="icon">
								<i class="fa fa-linkedin-square" aria-hidden="true"></i>
							</div>
							<div class = "data">
								<p class = "semi_bold">
									LinkedIn
								</p>
								<a href = "https://www.linkedin.com/in/hanlin-miao-324404173/">hanlinmiao@Linkedin</p></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class = "resume_right">
			<div class = "resume_item resume_about">
				<div class ="title">
					<p class ="bold">About Me</p>
				</div>
				<p>A 4/5 computer engineering major studying at Stevens Institute of Technology</p>
			</div>
			<div class = "resume_item resume_work">
				<div class ="title">
					<p class ="bold">Work Experience</p>
				</div>
				<ul>
					<li>
						
						<div class ="info">
							<p class ="date">2020.8 - 2020.12</p>
							<p class="semi_bold">Network to Code</p>
							<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
						</div>
					</li>
					<li>
						<div class ="info">
							<p class ="date">2019.8 - 2019.12</p>
							<p class="semi_bold">Lefrak Realty Operations Group</p>
							<p>Tested and constructed various versions of the company’s online 2019 Year-End Evaluation Forms using HTML and CSS</p>
							<p>Spearheaded the design of the Webinar Poster and updated Saba TalentSpace  Quick-Start and Year-End Review Guides for Managers and Employees for better accessibility and readability using Adobe Indesign and photoshop</p>
							<p>Streamlined HR data output format and managed sensitive employee payroll information with MS Excel and Access</p>
							<p>Updated HR Internal Database with new employee information on ADP TotalSource platform</p>

						</div>
					</li>
					<li>
						
						<div class ="info">
							<p class ="date">2019.5 - 2019.8</p>
							<p class="semi_bold">RGBS Energy Enterprise</p>
							<p>Renovated the company purchase order database and streamlined the purchase order process using Microsoft Excel</p>
							<p>Corrected flawed Distech Control drawings and assisted in making engineering cut sheets using AutoCAD</p>
							<p>Installed and troubleshot cold deck temperature sensors in Manhattan Supreme Courthouse</p>
							<p>Initiated an inventory database to keep track of equipment and materials on the worksite</p>
						</div>
					</li>
				</ul>
			</div>
			<div class = "resume_item resume_education">
				<div class ="title">
					<p class ="bold">Education</p>
				</div>
				<ul>
					<li>
						
						<div class ="info">
							<p class ="date">2017 - 2022</p>
							<p class="semi_bold">Stevens Institute of Technology</p>
							<p>Bachelor of Engineering: Computer Engineering</p>
							<p>Minor: Quantitave Finance</p>
							<p>Sigma Phi Epislon</p>
						</div>
					</li>
					<li>
						
						<div class ="info">
							<p class ="date">2013 - 2017</p>
							<p class="semi_bold">Monsignor Farrell High School</p>
							<p>Vir Fidelis</p>
							<p>Scholar</p>
							<p>National Honor Society President</p>
						</div>
					</li>
					<li>
						
						<div class ="info">
							<p class ="date">2018.5 - 2018.7</p>
							<p class="semi_bold">Tokyo International School, Japan</p>
							<p>Completed 6 weeks of intensive Japanese language and culture courses</p>
							<p>Overcame the language barrier to adjust to living with a host family</p>
							<p>Partnered with a college student from Japan to engage in intercultural learning activities</p>
						</div>
					</li>
				</ul>
			</div>

			<div class = "resume_item resume_hobby">
				<div class ="title">
					<p class ="bold">Hobby</p>
				</div>
				<ul>
					<li><i class="fa fa-music" aria-hidden="true"></i></li>
					<li><i class="fa fa-gamepad" aria-hidden="true"></i></li>
					<li><i class="fa fa-paint-brush" aria-hidden="true"></i></li>
					<li><i class="fa fa-podcast" aria-hidden="true"></i></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock content %}